
<!--<div class="form-group" style="margin-bottom:20px;">
	<label style="text-align:left;min-width:76px;" class="col-sm-1 control-label label-input-sm pull-left" for="selector1">Load from</label>
	<div class="col-sm-3">
		<select 
			class 		= "form-control input-sm" 
			ng-model 	= "copy.version"
			ng-change 	= "load()"
		>
		<option ng-repeat="patch in patches | filter:{ synched: true }" value="{{ patch.version }}">{{patch.version}}</option>
		</select>
	</div>
</div>-->

<div class="row">
	<div ng-repeat="effect in target.customEffect">
		<div ng-if="$index + 1 % 4 == 0" class="clearfix"></div>
		<div class="col-sm-3">
			<div class="tiles-sparkline">
				<div class="tiles-sparkline-header">
					<a 
						style   	= "margin-bottom:10px;width:100%;" 
						class   	= "btn btn-inverse-alt btn-xs pull-right" 
						ng-click 	= "removeEffect(target,$index)"
					><i class="fa fa-times"></i></a>
				</div>
				<div class="tiles-sparkline-body">
					<div class="form-group">
						<label class="col-sm-4 control-label label-input-sm pull-left" for="selector1">Stat</label>
						<div class="col-sm-8">
							<select ng-model = "effect.dest" class="form-control input-sm">
								<option 
									ng-repeat 	= "stat in stats" 
									value 		= "{{stat.value}}"
									ng-selected = "stat.value == effect.dest"
								>{{stat.label}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label label-input-sm pull-left" for="selector1">Value</label>
						<div class="col-sm-8">
							<input 
							type        = "text" 
							id          = "" 
							class       = "form-control input-sm" 
							ng-model 	= "effect.value"
							>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label label-input-sm pull-left" for="selector1">Type</label>
						<div class="col-sm-8">
							<select 
								class 		= "form-control input-sm" 
								ng-model 	= "effect.type"
							>
							<option 
								ng-repeat 	= "type in types" 
								value 		= "{{type.value}}"
								ng-selected = "type.value == effect.type"
							>{{type.label}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label label-input-sm pull-left" for="selector1">Src</label>
						<div class="col-sm-8">
							<select ng-model = "effect.src" class="form-control input-sm" >
								<option value=""></option>
								<option ng-selected = "stat.value == effect.src" ng-repeat = " stat in stats" value="{{stat.value}}">{{stat.label}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label label-input-sm pull-left" for="selector1">Name</label>
						<div class="col-sm-8">
							<input 
							type        = "text" 
							id          = "" 
							class       = "form-control input-sm" 
							ng-model 	= "effect.name"
							>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label" for="checkbox">Atributes</label>
						<div class="col-sm-8">
							<div class="checkbox block">
								<label><input type="checkbox" ng-model="effect.unique"> Unique</label>
								<label><input type="checkbox" ng-model="effect.perlevel"> Per level</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="tiles-sparkline">
			<div class="tiles-sparkline-body" style="height:195px;">
				<span class="fa-stack fa-lg center-alignment cursor" ng-click="newEffect(target)">
					<i class="fa fa-plus-square fa-stack-2x"></i>
				</span>
			</div>
		</div>
	</div>
</div>