<section data-ng-controller="SidebarController" class="full-height">
    <nav class="top-menu-nav full-height">
        <div class="container-fluid">
            <div class="col-xs-5">
                <button ng-show = "authentication.user" class="pull-left menu" menu-control></button>
                <!--<div class="device-xs visible-xs">xs</div>
                <div class="device-sm visible-sm">sm</div>
                <div class="device-md visible-md">md</div>
                <div class="device-lg visible-lg">lg</div>-->
            </div>
            <div class="col-xs-2">
                <a class="platform-title" ui-sref="dashboard"><img src="/modules/core/img/peixeboi.png" alt="logo"></a>
            </div>
            <div class="col-xs-5">
                <ul class="nav navbar-nav pull-right">
                    <li ng-show = "authentication.user">
                        <a class="user-avatar">
                            <img class="avatar"otr-src"http://www.imcslc.ca/imc/includes/themes/imc/images/layout/img_placeholder_avatar.jpg">
                            <span>{{authentication.user.firstName}} {{authentication.user.lastName}}</span>
                        </a>
                    </li>
                    <li ng-show = "authentication.user">
                        <a href="/auth/signout" class="no-subline signout">
                            Signout
                        </a>
                    </li>
                    <li ng-show = "!authentication.user">
                        <a ui-sref="login" class="no-subline signout">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
         </div>
    </nav>
</section>
