<section data-ng-controller="SidebarController">
    <ul class="side-menu">
        <li ng-click="closeMenu()" ng-show="{{ authentication.user && 'admin' | inArray:authentication.user.roles }}">
            <a href="/admin/">
                Admin
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="dashboard">
            <a ui-sref="dashboard">
                Dashboard
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="createBuild">
            <a ui-sref="createBuild">
                Build
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="listBuilds">
            <a ui-sref="listBuilds">
                Browse
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="listBuilds">
            <a ui-sref="listBuilds">
                About us
            </a>
        </li>
    </ul>
</section>
