<section data-ng-controller="SidebarController">
    <ul>
        <li ng-click="closeMenu()" ng-show="{{ authentication.user && 'admin' | inArray:authentication.user.roles }}">
            <a href="/admin/">
                <span>Admin</span>
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="dashboard">
            <a ui-sref="dashboard">
                <span>Dashboard</span>
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="createBuild">
            <a ui-sref="createBuild">
                <span>Build</span>
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="listBuilds">
            <a ui-sref="listBuilds">
                <span>Browse</span>
            </a>
        </li>
        <li ng-click="closeMenu()" ui-sref-active="listBuilds">
            <a ui-sref="listBuilds">
                <span>About us</span>
            </a>
        </li>
    </ul>
</section>
