<section data-ng-controller="SidebarController">
    <ul class="side-menu">
        <li ng-show="{{ authentication.user && 'admin' | inArray:authentication.user.roles }}">
            <a href="/admin/">
                Admin
                <span class="menu-icon menu-admin pull-right"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="dashboard">
                Dashboard
                <span class="menu-icon menu-admin pull-right"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="createBuild">
                Build
                <span class="menu-icon menu-build pull-right"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="listBuilds">
                Browse
                <span class="menu-icon menu-browse pull-right"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="#">
                About us
                <span class="menu-icon menu-aboutus pull-right"></span>
            </a>
        </li>
    </ul>
</section>
