<div id="contact-form" class="landing-block image-bg">
    <div class="mask">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <p class="mt5 mb5">© 2015 Offtherift. All Rights Reserved</p>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <a href="#" class="btn btn-sm btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>