<section class="row" data-ng-controller="AuthenticationController">
    <div class="page-heading">
        <div class="container clearfix">
            <h1 class="pull-left">Login</h1>
        </div>
    </div>
    <div class="container" id="login-form">
        <div class="row mb40">
            <div class="col-md-6">
                <div class="headline"><h2>Email Account</h2></div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Login Form</h2></div>
                    <div class="panel-body">

                        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <a href="/#!/password/forgot" class="pull-left">Forgot password?</a>
                                </div>
                            </div>

                            <div data-ng-show="error" class="text-center text-danger mb10">
                                <strong data-ng-bind="error"></strong>
                            </div>

                            <div class="panel-footer">
                                <div class="clearfix">
                                    <a href="/#!/registration" class="btn btn-default pull-left">Register</a>
                                    <button type="submit" class="btn btn-primary pull-right">Login</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="headline"><h2>Social Account</h2></div>
                <div class="text-center">
                    <a href="/auth/facebook" class="btn btn-label btn-social btn-facebook mb20"><i class="fa fa-fw fa-facebook"></i>Connect with Facebook</a><br>

                    <a href="/auth/twitter" class="btn btn-label btn-social btn-twitter mb20"><i class="fa fa-fw fa-twitter"></i>Connect with Twitter</a><br>

                    <a href="/auth/google" class="btn btn-label btn-social btn-googleplus mb20"><i class="fa fa-fw fa-google-plus"></i>Connect with +Google</a><br>

                    <a href="/auth/linkedin" class="btn btn-label btn-social btn-linkedin mb20"><i class="fa fa-fw fa-linkedin"></i>Connect with LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</section>