.align-center{
    text-align: center
}
.loading-spinner-small{
    width: 20px;
    margin-left: 5px;
}

/* BOOTSTRAP */
.modal-lg {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.modal-content {
    overflow: hidden;
    height: 100%;
    border-radius: 0;
    background: rgba(255,255,255, 0.9);
}
.modal-body {
    position: relative;
    min-height: 500px;
}

.modal-dialog{
    margin-top: 0px;
}

.glyphicon-remove{
    cursor:pointer
}

.champ-avatar:hover > .overlay {
    width:80px;
    height:80px;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:40px;
    background-image: url(../img/builder/edit.png);
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: 23px 23px;
    cursor: pointer;
}