.stat-column{
    width: 44%;
    display: inline-block;
}

.stat-wrapper{
    width: 100%;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;

    &.stat-wrapper-left{
        text-align: left;
        .stat-value-wrapper{
            float: right;
            margin-right:5%;
        }
    }

    &.stat-wrapper-right{
        text-align: right;
        .stat-value-wrapper{
            float: left;
            margin-left:5%;
        }
    }

    .stat-designation{
        display: inline-block;
        overflow: auto;
        border-bottom: 1px solid white;
        width: 58%;
        font-weight: 300;
        height: 19px;
        /*margin-top: 5%;*/
    }

    .stat-value-wrapper{
        display: inline-block;
        background-color: white;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        opacity: 1;
        -webkit-transition-duration:0.5s;
        transition-duration:0.5s;

        .stat-value{
            margin-top: 22%;
            label{
                font-size: 15px;
                width: 100%;
                text-align: center;
                color: @water-blue;
                font-weight: 700;
            }
        }
    }
}

.builder-wrapper{
    .stat-not-affected{
        opacity: 0.3;
        -webkit-transition-duration:0.5s;
        transition-duration:0.5s;
    }

    .affected{
        opacity: 1;
        -webkit-transition-duration:0.5s;
        transition-duration:0.5s;
    }
}
