.build-input{
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    color: white;
    font-size: 13px;
    height: 25px;
}

.select-input{
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    height: 25px;
}

.stats-container{
    margin-top: 25px;
}

.stats-container-wrapper{
    width: 220px;
    float: left;
    margin-left: 15px;
}

.view-build{
    .stats-container-wrapper{
        margin-top: 20px;
    }
}

.stats-configuration-wrapper{
    margin-left:250px;
    overflow: hidden;
}

.build-title{
    font-weight: 700;
    font-size: 16px;
    margin-top:15px;
}

.build-config-panel{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 5px 15px;
    overflow-y: hidden;
}

.build-config-panel:not(.item-config-panel){
    border-top: 1px solid white;
}

@media(min-width: @screen-md-min){
    .view-build{
        .runes-config-panel{
            margin-top: 30px;
        }

        .item-config-panel{
            height: 385px;
        }
    }
}

.btn-build-action{
    font-weight: 300;
    border-radius: 15px;
    display: block;
    text-align: center;
    width: 125px;
    float: right;
}

.btn-build-action-yellow{
    border: 1px solid rgb(215,168,82);
    background-color: rgba(215,168,82,0.5);
}

.btn-build-action-yellow:hover{
    border: 1px solid rgb(215,168,82);
    background-color: rgba(215,168,82,1);
    color: white;
}

.btn-build-action-green{
    border: 1px solid rgb(105,202,105);
    background-color: rgba(105,202,105,0.5);
}

.btn-build-action-green:hover{
    border: 1px solid rgb(105,202,105);
    background-color: rgba(105,202,105,1);
    color: white;
}

.btn-build-mode{
    width: 98px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    font-weight: 300;
    border: 1px solid white;
    background-color: transparent;

    &:hover,
    &.active{
        background-color: white;
        color: @water-blue;
        font-weight: 400;
    }

    &:nth-child(2){
        position: relative;
        left: -25px;
    }
}

.build-general-settings{
    margin-bottom: 15px;
}

.build-name{
    height: 30px;
    width: 88%;
}

.select-champion-banner-title{
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.arrow{
    width: 50px;
    height: 30px;
    background-image: url('/modules/core/img/seta.png');
    margin: 15px auto;
}

.urf{
    background-image: url('/modules/core/img/peixeboi.png');
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}

.urf-medium{
    width: 143px;
    height: 144px;
    background-size: cover;
    margin: 30px auto;
}

.urf-big{
    width: 286px;
    height: 288px;
    margin: 30px auto;
     background-size: cover;
}

.urf-big:hover{
    background-image: url('/modules/core/img/hand.png');
    cursor: pointer;
}