.select-champion-modal{
    .modal-header{
        input{
            display: inline-block;
            width: 70%;
            margin-left: 5%;
        }

        .glyphicon-remove{
            position: relative;
            top: 15px;
        }
    }

    .modal-body{
        .avatar{
            border: 1px solid white;
        }
        img:hover{
            opacity: 0.5;
        }
        h3{
            margin-top:     5px;
            margin-bottom:  30px;
            font-weight:    300;
        }
    }

    .champion-avatar{
        margin-left:27%;
        cursor:pointer;
        height:80px;
        width:80px;
    }

    .fa-times{
        font-size: 1.5em;
    }

    .close-icon{
        float: right;
        margin-right: 15px;

        &:hover{
            cursor: pointer;
        }
    }
}