.side-menu{
    list-style-type: none;
    padding: 0px;

    li{
        cursor: pointer;
        padding: 10px 15px;
        &:hover{
            a{
                color: black;
            }
        }
    }
}

#sp-nav{
    background-color: @side-menu-background;
    opacity: 0.9;
}