.side-menu{
    list-style-type: none;
    padding: 0px;

    li{
        a{
            font-weight: 300;
            margin-left: 5%;
            width: 90%;
            cursor: pointer;
            padding: 15px 15px;
            display: block;
            border-bottom: 1px solid white;
            &:hover{
                color: white;
            }

            .menu-icon{
                width: 25px;
                height: 27px;
                background-size: 100%;
                background-color: transparent;
                background-repeat: no-repeat;
                display: inline-block;
            }

            .menu-admin{
                background-image: url('/modules/core/img/sidebar/admin.png');
            }

            .menu-aboutus{
                background-image: url('/modules/core/img/sidebar/aboutus.png');
            }

            .menu-browse{
                background-image: url('/modules/core/img/sidebar/browse.png');
            }

            .menu-build{
                background-image: url('/modules/core/img/sidebar/build.png');
            }

        }
        &.active,&:hover{
            background-color: @water-blue;
        }
    }
}

.coffee-menu{
    font-size: 25px;
    position: relative;
    right: -2px;
}

#sp-nav{
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
    background-color: @side-menu-background;
    opacity: 0.9;
    &.show{
        -webkit-transition-duration:0.3s;
        transition-duration:0.3s;
        z-index:        2;
    }
}

#sp-nav, #sp-nav.wide{
    width: 30%;
    left: -30%;
}

#sp-nav{
    width: 20%;
    left: -20%;
}

#sp-nav.show.wide+#sp-page{
    transform: translateX(30%)
}

#sp-nav.show+#sp-page{
    transform: translateX(20%)
}