.side-menu{
    list-style-type: none;
    padding: 0px;

    li{
        a{
            cursor: pointer;
            padding: 10px 15px;
            display: block;
        }
        &:hover{
            a{
                 color: black;
            }
        }
    }
}

#sp-nav{
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
    background-color: @side-menu-background;
    opacity: 0.9;
    &.show{
        -webkit-transition-duration:0.3s;
        transition-duration:0.3s;
        z-index:        2;
    }
}

#sp-nav, #sp-nav.wide{
    width: 30%;
    left: -30%;
}

#sp-nav{
    width: 20%;
    left: -20%;
}

#sp-page{
    overflow-x: scroll;
    min-width:  @screen-sm;
}

#sp-nav.show.wide+#sp-page{
    transform: translateX(30%)
}

#sp-nav.show+#sp-page{
    transform: translateX(20%)
}