.snapshot-container{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: 20px;

    li{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid white;
        width: 19.55%;
        text-align: center;
        overflow: hidden;
        height: 25px;
        float: left;
        display: block;
        cursor: pointer;

        input{
            border: 0px;
            background-color: transparent;
            color: white;
            padding: 5px 10px;
            font-size: 13px;
            width: 90%;
        }

        &:hover:not(.filler-tab),
        &.selected-snap{
            background-color: rgba(255,255,255,.15);
            color: @water-blue;
            cursor:pointer;
        }

        &.selected-snap{
            border-bottom: 0px;
        }

        &.filler-tab{
            border: 0px;
            border-bottom: 1px solid white;
        }
    }
}