#build{
    margin-top: 10px;
}

.form-control.build-title{
    border: 0px;
    border-bottom: 1px solid #d4dadf;
    background: white;
    font-size: 25px;
    border-radius: 0px;
}

.form-control.build-title:focus{
    border: 0px;
    border-bottom: 1px solid #d4dadf;
}

.right-align{
    text-align: right;
}