.tooltip.left .tooltip-arrow{
    border-left-color: rgba(255, 255, 255, 0.85);
}

.tooltip-inner {
    background-color: rgba(255, 255, 255, 0.85);
    *{
        font-size: 13px;
        font-weight: 300;
        color: @water-blue;
    }
    font-size: 13px;
    font-weight: 300;
    color: @water-blue;
}