.top-menu-nav{
    background-color:   @top-menu-background;
    opacity:            0.9;

    a{
        display: block;
    }

    ul{
        width: auto;
        list-style-type: none;
        float: right;
        margin-bottom: 0px;
        margin-top: 8px;

        li{
            //background-clip: content-box;
            display: inline-block;
            padding: 0px 10px;
            /*&:not(:last-child):not(:first-child){
                border-right: 1px solid white;
            }*/

            label, a{
                padding: 5px 10px;
            }
        }
    }
}

.logout{
    padding: 10px 0px;
    &:hover{
        color: black;
    }
}

.user-label{
    margin: 0px;
}

.menu{
    background-image: url('/modules/core/img/menu.png');
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: 0px;
    margin-top: 15px;
}

.platform-title{
    text-align: center;
    padding: 10px 5px;
}

.top-menu{
    height: 45px;
}

.avatar{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 10px;
}

.signout{
    font-size: 13px;
    position: relative;
    top: 2px;
}