<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <img class  = "avatar" 
                        alt     = "avatar" 
                        ng-if   = "itemIndex >= 0"
                        ng-src  = "{{ items[itemIndex].image.full | ddragon: items[itemIndex].version:'item'}}">
                    {{items[itemIndex].name}}
                </h2>
            </div>
            <div class="modal-body">
                <div class="table-responsive table-userinfo">
                    <table class="table table-condensed">
                        <tbody>
                            <tr ng-show ="items[itemIndex].tags.length">
                                <td colspan="2">
                                    <span
                                        style           = "margin-right: 5px;"
                                        data-ng-repeat  = "tag in items[itemIndex].tags" 
                                        class           = "badge badge-info"
                                    >{{tag}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>{{items[itemIndex].version}}</td>
                            </tr>
                            <tr>
                                <td>Enabled</td>
                                <td ng-class="{ 'text-success':items[itemIndex].enabled, 'text-warning':!items[itemIndex].enabled  }">
                                    <input
                                        bs-switch
                                        type            = "checkbox"
                                        ng-model        = "items[itemIndex].enabled"
                                        type            = "checkbox" 
                                        switch-size     = "mini"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>Purchasable</td>
                                <td ng-class="{ 'text-success':items[itemIndex].gold.purchasable, 'text-warning':!items[itemIndex].gold.purchasable  }">
                                    {{items[itemIndex].gold[0].purchasable ? 'yes' : 'no'}}
                                </td>
                            </tr>
                            <tr ng-show = "items[itemIndex].plaintext.length">
                                <td>Description</td>
                                <td>{{items[itemIndex].plaintext}}</td>
                            </tr>
                            <tr>
                                <td>Stats</td>
                                <td>{{items[itemIndex].sanitizedDescription}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Effects</h4>
                <form class="form-horizontal compact-form">
                    <custom-effect target="items[itemIndex]" copy="copyPatch" load="loadEffects()"></custom-effect>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="update(items[itemIndex]);searchItems()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal
