<section data-ng-controller="ItemsController" data-ng-init="init()">
    <div class="page-header">
        <h1>Items</h1>
    </div>
    <div class="panel panel-default panel-items">
        <div class="panel-heading">
            <h2>Items Panel</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">

                    <label class="col-sm-1 control-label label-input-sm pull-left" for="selector1">Patch</label>
                    <div class="col-sm-4">
                        <select
                            ng-model    = "formData.version"
                            class       = "form-control input-sm" 
                        >
                        <option ng-repeat="patch in patches | filter:{ synched: true }" value="{{patch.version}}">{{patch.version}}</option>
                        </select>
                    </div>

                    <label class="col-sm-1 control-label label-input-sm" for="focusedinput">Name</label>
                    <div class="col-sm-4">
                        <input 
                            type        = "text" 
                            id          = "focusedinput" 
                            class       = "form-control input-sm" 
                            ng-model    = "formData.name" 
                            ng-keypress = "($event.which === 13)?searchItems($event):0"
                        >
                    </div>

                    <label class="col-sm-1 control-label label-input-sm">State</label>
                    <div class="col-sm-1">
                        <input
                        bs-switch
                        type            = "checkbox"
                        ng-model        = "formData.enabled"
                        type            = "checkbox"
                        switch-size     = "mini"
                        class           = "label-input-sm pull-right"
                        />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <a 
                        class       = "btn btn-midnightblue btn-sm btn-block" 
                        ng-click    = "searchItems($event)"
                        >Go</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table 
                class                           = "table table-striped table-vam table-bordered mb0"
                infinite-scroll                 = "loadMore();$event.stopPropagation()"
                infinite-scroll-disabled        = "busy"
                infinite-scroll-immediate-check = "false"
            >
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Enabled</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        ng-show         = "items.length" 
                        data-ng-repeat  = "item in items" 
                    >
                        <td><img class="avatar" alt="avatar" ng-src="{{ item.image[0].full | ddragon: item.version:'item'}}"></td>
                        <td>{{item.name}}</td>
                        <td ng-class="{ 'text-success':item.enabled, 'text-warning':!item.enabled  }" >{{item.enabled ? 'yes' : 'no'}}</td>
                        <td>
                            {{item.version}} 
                            <a
                                class           = "btn btn-default btn-xs pull-right" 
                                data-toggle     = "modal" 
                                href            = "#itemModal"
                                ng-click        = "setCurrentItemIndex($index)"
                            >Edit</a>
                        </td>
                    </tr>
                    <tr ng-show = "!items.length" style="text-align:center">
                        <td colspan="4">No items fetched...Try setting some research params!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">
                    <img class  = "avatar" 
                        alt     = "avatar" 
                        ng-if   = "itemIndex >= 0"
                        ng-src  = "{{ items[itemIndex].image[0].full | ddragon: items[itemIndex].version:'item'}}">
                    {{items[itemIndex].name}}
                </h2>
            </div>
            <div class="modal-body">
                <div class="table-responsive table-userinfo">
                    <h3>Item Info</h3>
                    <table class="table table-condensed">
                        <tbody>
                            <tr ng-show ="items[itemIndex].tags.length">
                                <td colspan="2">
                                    <span
                                        style="margin-right: 5px;"
                                        data-ng-repeat  = "tag in items[itemIndex].tags" 
                                        class="badge badge-info"
                                    >{{tag}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>{{items[itemIndex].version}}</td>
                            </tr>
                            <tr>
                                <td>Enabled</td>
                                <td ng-class="{ 'text-success':items[itemIndex].enabled, 'text-warning':!items[itemIndex].enabled  }">
                                    {{items[itemIndex].enabled ? 'yes' : 'no'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Purchasable</td>
                                <td ng-class="{ 'text-success':items[itemIndex].gold[0].purchasable, 'text-warning':!items[itemIndex].gold[0].purchasable  }">
                                    {{items[itemIndex].gold[0].purchasable ? 'yes' : 'no'}}
                                </td>
                            </tr>
                            <tr ng-show = "items[itemIndex].plaintext.length">
                                <td>Description</td>
                                <td>{{items[itemIndex].plaintext}}</td>
                            </tr>
                            <tr>
                                <td>Stats</td>
                                <td>{{items[itemIndex].sanitizedDescription}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</section>



