<section data-ng-controller="ProfileController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-profile panel-midnightblue">
				<div class="panel-body">

					<div class="row">
						<div class="col-md-6">
	                        <img ng-if="authentication.user.providerData.picture" ng-src="{{ authentication.user.providerData.picture }}" alt="Profile Photo" class="avatar pull-left" style="margin: 0 20px 20px 0">
	                        <img ng-if="!authentication.user.providerData.picture" src="/admin/modules/users/img/nophoto.png" alt="Profile Photo" class="avatar pull-left" style="margin: 0 20px 20px 0">
							<div class="table-responsive table-userinfo">
								<h3 class="mt0" data-ng-bind="authentication.user.displayName"></h3><table class="table table-condensed">
									<tbody>
										<tr>
											<td>First Name</td>
											<td data-ng-bind="authentication.user.firstName"></td>
										</tr>
										<tr>
											<td>Last Name</td>
											<td data-ng-bind="authentication.user.lastName"></td>
										</tr>
										<tr>
											<td>Email</td>
											<td><a href="#" data-ng-bind="authentication.user.email"></a></td>
										</tr>
										<tr>
											<td>Social</td>
											<td>
												<a href="#" class="btn btn-social btn-skype btn-xs"><i class="fa fa-skype"></i></a>
												<a href="#" class="btn btn-social btn-facebook btn-xs"><i class="fa fa-facebook"></i></a>
												<a href="#" class="btn btn-social btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
												<a href="#" class="btn btn-social btn-googleplus btn-xs"><i class="fa fa-google-plus"></i></a>
												<a href="#" class="btn btn-social btn-flickr btn-xs"><i class="fa fa-flickr"></i></a>
												<a href="#" class="btn btn-social btn-linkedin btn-xs"><i class="fa fa-linkedin"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6">
							<h3 class="mt0">About</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
							</p>
							<p>
								Dsperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
							</p>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>