<section data-ng-controller="BuildsController" data-ng-init="initBuild()" ng-switch="enabledView" class="create-build">
	<div ng-show="checkShowBigChampionSelection()">
		<h1 class="select-champion-banner-title">CHOOSE YOUR CHAMPION</h1>
		<div class="arrow"></div>
		<div class="urf urf-big fx-fade-down fx-speed-1000" ng-click="openModal(data.champions)"></div>
	</div>
	<div ng-show="!data.firstPick" class="container-fluid builder-wrapper" ng-switch-when="true">
		<div ng-include="'modules/builds/views/champion-stats.client.view.html'"></div>
		<div class="stats-configuration-wrapper fx-fade-down fx-speed-1000" ng-show="build.champion_id != null">
			<div class="container-fluid">
				<div class="row build-general-settings">
					<div class="col-md-3">
						<input type="text" ng-change="setBuildChanged(true)" data-ng-model="build.name" id="name" class="build-input build-name" placeholder="Build Name">
					</div>
					<div class="col-md-3">
						<label class="width-40" for="selectedPatch">Patch</label>
						<select
							class="select-input width-80"
							ng-model = "data.selectedPatch"
							ng-change="changePatch()"
							name="selectedPatch"
							id ="selectedPatch"
							ng-options="patch.version as patch.version for patch in data.patches | filter:{ synched: true }">
						</select>
					</div>
					<div class="col-md-4">
						<div class="pull-right" style="position:relative;left:25px;">
						<a
							class="btn-build-mode"
							href="#"
							ng-click="setVisibleMode(false);setBuildChanged(true)"
							ng-class="{'active': !build.visible}">
							Private
						</a>
						<a
							class="btn-build-mode"
							href="#"
							ng-click="setVisibleMode(true);setBuildChanged(true)"
							ng-class="{'active': build.visible}">
							Public
						</a>
						</div>
					</div>
					<div class="col-md-2">
						<div ng-show="buildMode == 'create'">
							<a
								class="btn-build-action btn-build-action-yellow"
								href="#" ng-click="create()">
								Save build
							</a>
						</div>
						<div ng-show="buildMode == 'edit'">
							<a
								class="btn-build-action btn-build-action-yellow"
								href="#"
								ng-click="callAction()"
								ng-show="enabledView"
								ng-class="{'btn-build-action-yellow' : buildChanged, 'btn-build-action-green' : !buildChanged}">
								{{buildChanged ? 'Save and Exit' : 'Exit'}}
							</a>
						</div>
					</div>
				</div>
			</div>
			<otr-perfect-scrollbar class="configuration-wrapper" wheel-propagation="true">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<label class="build-title">ITEMS</label>
						</div>
					</div>
					<div class="row">
				        <div class="col-sm-12">
				        	<ul class="snapshot-container">
				        		<li
				        			ng-repeat="snap in build.snapshot track by $index"
				        			ng-click="setCurrentSnap($index)"
				        			ng-class="{'selected-snap': data.currentSnapshot == $index}">
				        			<input
				        				placeholder="Item Set {{$index +1}}"
				        				ng-model="build.snapshot[$index].name">
				        			<div ng-show="$index !== 0" href="#" class="remove-tab close" ng-click="removeSnapshot($index)"></div>
				        		</li>
				        		<li
				        		class="add-snap"
				        		ng-show="build.snapshot.length < 5"
				        		ng-click="addSnapshot()">
				        			<div class="plus"></div>
				        		</li>
				        		<li
				        			class="filler-tab"
				        			ng-repeat="n in range(1, 4 - build.snapshot.length)">
				        		</li>
				        	</ul>
				        </div>
				    </div>
					<div class="row">
						<div class="col-sm-12">
							<div class="build-config-panel item-config-panel">
								<item-section build="build" data="data" version="data.selectedPatch" loading="state.items.loading" full="state.items.full"></item-section>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="build-title">RUNES</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="build-config-panel">
								<runes-section build="build" data="data" version="data.selectedPatch" state="state.runes"></runes-section>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="build-title">MASTERIES</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="build-config-panel">
								<masteries-section build="build" data="data"></masteries-section>
							</div>
						</div>
					</div>
				</div>
			</otr-perfect-scrollbar>
		</div>
	 </div>
</section>