<section data-ng-controller="BuildsController" data-ng-init="initBuild()" ng-switch="enabledView">
	<div class="container-fluid builder-wrapper" ng-switch-when="true">
		<div class="stats-container-wrapper">
			<div class="champion-avatar-wrapper" ng-click="openModal(data.champions)" style="position:relative">
				<div ng-switch="data.selectedChampion.image.full || '_undefined_'">
					<img
						ng-switch-default
						class="champion-avatar inline-block"
						otr-src="{{ data.selectedChampion.image.full | ddragon: data.selectedChampion.version:'champion'}}">
					<img
						ng-switch-when="_undefined_"
						class="champion-avatar inline-block"
						src="http://static.munzee.com/images/site/blank-avatar.png">
				</div>
				<div class="champion-name-wrapper absolute-top">
					<label class="champion-name">{{data.selectedChampion.name || 'Summon'}}</label>
					<label class="champion-title">{{data.selectedChampion.title || 'your champion'}}</label>
				</div>
			</div>
			<div class="row stats-container fx-fade-down fx-speed-1000" ng-show="build.calculatedStats[data.currentSnapshot].hp != 'n/a'">
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">HP</div>
						<div class="stat-value-wrapper stat-value-hp">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].hp}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">{{data.selectedChampion.partype}}</div>
						<div class="stat-value-wrapper stat-value-mp">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].mp}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">Hp5</div>
						<div class="stat-value-wrapper stat-value-hpregen">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].hpregen | regenStat }}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">{{data.selectedChampion.partype}}p5</div>
						<div class="stat-value-wrapper stat-value-mpregen">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].mpregen | regenStat }}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">AD</div>
						<div class="stat-value-wrapper stat-value-attackdamage">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].attackdamage}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">AP</div>
						<div class="stat-value-wrapper stat-value-abilitypower">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].abilitypower}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">ArPen</div>
						<div class="stat-value-wrapper stat-value-armorpenetration">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].armorpenetration | doubleStat}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">MPen</div>
						<div class="stat-value-wrapper stat-value-magicpenetration">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].magicpenetration | doubleStat}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">LS</div>
						<div class="stat-value-wrapper stat-value-lifesteal">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].lifesteal}}%</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">SV</div>
						<div class="stat-value-wrapper stat-value-spellvamp">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].spellvamp}}%</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">AS</div>
						<div class="stat-value-wrapper stat-value-attackspeed">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].attackspeed}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">CDR</div>
						<div class="stat-value-wrapper stat-value-cooldownreduction">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].cooldownreduction}}%</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">Crit</div>
						<div class="stat-value-wrapper stat-value-critchance">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].critchance}}%</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">Armor</div>
						<div class="stat-value-wrapper stat-value-armor">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].armor}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">Range</div>
						<div class="stat-value-wrapper stat-value-attackrange">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].attackrange}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">MR</div>
						<div class="stat-value-wrapper stat-value-spellblock">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].spellblock}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-left">
						<div class="stat-designation">MS</div>
						<div class="stat-value-wrapper stat-value-movespeed">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].movespeed}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="stat-wrapper stat-wrapper-right">
						<div class="stat-designation">Tenacity</div>
						<div class="stat-value-wrapper stat-value-tenacity">
							<div class="stat-value">
								<label>{{build.calculatedStats[data.currentSnapshot].tenacity}}%</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="stats-configuration-wrapper fx-fade-down fx-speed-1000" ng-show="build.champion_id != null">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						<input type="text" data-ng-model="build.name" id="name" class="form-control build-input" placeholder="Build Name" required>
					</div>
					<div class="col-xs-2">
						<label class="width-40" for="selectedPatch">Patch</label>
						<select class="select-input width-80" ng-model = "data.selectedPatch" ng-change="initBuild()" name="selectedPatch" id ="selectedPatch">
							<option ng-repeat="patch in data.patches | filter:{ synched: true }" value="{{patch.version}}">{{patch.version}}</option>
						</select>
					</div>
					<div class="col-xs-4">
						<div class="row" ng-show="Buildmode == 'create'">
							<a class="btn btn-success" href="#" ng-click="create()" ng-show="enabledView">Save this build!</a>
						</div>
						<div class="row" ng-show="Buildmode == 'edit'">
							<a class="btn btn-success" href="#" ng-click="update()" ng-show="enabledView">Update this build!</a>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<label class="build-title">ITEMS</label>
					</div>
					<div class="row">
				        <div class="col-sm-12" >
				        	<ul class="snapshot-container">
				        		<li
				        			ng-repeat="snap in build.snapshot track by $index"
				        			ng-click="setCurrentSnap($index)"
				        			ng-class="{'selected-snap': data.currentSnapshot == $index}">
				        			{{$index+1}}
				        		</li>
				        		<li
				        		class="add-snap"
				        		ng-show="build.snapshot.length < 5"
				        		ng-click="addSnapshot()"> + </li>
				        	</ul>
				        </div>
				    </div>
					<div class="col-sm-12">
						<div class="build-config-panel">
							<item-section build="build" data="data"></item-section>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="build-title">RUNES</label>
					</div>
					<div class="col-sm-12">
						<div class="build-config-panel">
							<runes-section build="build" data="data"></runes-section>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label class="build-title">MASTERIES</label>
					</div>
					<div class="col-sm-12">
						<div class="build-config-panel">
							<masteries-section build="build" data="data"></masteries-section>
						</div>
					</div>
				</div>
			</div>
		</div>
	 </div>
</section>