<a href="#collapseItems" data-parent="#accordionB" data-toggle="collapse" class="accordion-title"><h2>Items</h2></a>
<div  id="collapseItems" class="collapse" ng-init="init()">
    <div class="accordion-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>Filters</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input
                            type        = "text"
                            class       = "form-control input-sm"
                            ng-model    = "itemSearch.name"
                            placeholder = "Item Name"
                            >
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-1" ng-repeat="snap in build.snapshot track by $index">
                        <span ng-click="setCurrentSnap($index)" ng-class="{'badge-info': data.currentSnapshot == $index}" class="badge" style="cursor:pointer;">
                            {{$index+1}}
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <span ng-click="addSnapshot()" class="badge badge-dark" style="cursor:pointer;">+</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input
                        type        = "text"
                        class       = "form-control input-sm"
                        ng-model    = 'build.snapshot[data.currentSnapshot].name'
                        placeholder = "Item set name"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" ng-repeat="n in range(1,6) track by $index">
                        <img class="avatar" ng-click="removeItem($index)" title="" alt="Slot {{$index+1}}" ng-src="{{ build.snapshot[data.currentSnapshot].items[$index].id | ddragon: build.version:'item'}}">
                        <div ng-if="$index + 1 % 4 == 0" class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img ng-model="build.snapshot[data.currentSnapshot].trinket" class="avatar" ng-click="removeItem(7)" title="" alt="Trinket" ng-src="{{ build.snapshot[data.currentSnapshot].trinket.id | ddragon: build.version:'item'}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <ul class="mailbox-msg-list" style="height:350px;overflow-y:scroll;border:1px solid black;">
                    <li ng-repeat = "item in data.items | filterItems:itemSearch">
                        <a
                            tooltip-html-unsafe="TESTE"
                            class="mailbox-msg-list-item"
                            href="#"
                            ng-click="addItem(item);$event.preventDefault(); $event.stopPropagation();"
                        >
                            <span class="time">{{item.gold.base}} Gold</span>
                            <img  title="" alt="avatar" ng-src="{{ item.image.full | ddragon: item.version:'item'}}">
                            <div><span class="name">{{item.name}}</span><span class="msg">{{item.plaintext}}</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
