<div ng-init="init()">
    <div class="row">
        <div class="col-sm-12">
            <div class="level-wrapper">
                <div class="level-container" ng-repeat="n in range(1,18)">
                    <span ng-click="setLevel(n)" ng-class="{'selected-level': build.snapshot[data.currentSnapshot].level == n}" class="level-badge">{{n}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-push-7">
            <input
                type        = "text"
                class       = "build-input col-sm-12"
                ng-model    = "itemSearch.name"
                placeholder = "Search Item">

            <ul class="item-listing">
                <li ng-repeat = "item in data.items | filterItems:itemSearch">
                        <a
                        tooltip-html-unsafe="{{item.description}}"
                        tooltip-trigger="mouseenter"
                        tooltip-placement="left"
                        tooltip-popup-delay = "600"
                        href="#"
                        ng-click="addItem(item);$event.preventDefault(); $event.stopPropagation();">
                        <div class="item-container">
                            <img  title="" alt="avatar" otr-src="{{ item.image.full | ddragon: item.version:'item'}}">
                        </div>
                        <div class="item-description">
                            <span class="title">{{item.name}}</span>
                            <span class="description">{{item.plaintext}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-7 col-md-pull-5">
            <ul class="item-wrapper">
                <li
                    class="item-slot"
                    ng-repeat="n in range(1,6) track by $index"
                    ng-mouseover="$parent.$parent.hoverIn(build.snapshot[data.currentSnapshot].items[$index]);"
                    ng-mouseleave="$parent.$parent.hoverOut()">
                    <img
                        tooltip-html-unsafe="{{build.snapshot[data.currentSnapshot].items[$index].name}}"
                        tooltip-trigger="mouseenter"
                        tooltip-placement="top"
                        tooltip-popup-delay = "600"
                        ng-hide="build.snapshot[data.currentSnapshot].items[$index].id==null"
                        ng-click="removeItem($index)"
                        title=""
                        alt="Slot {{$index+1}}"
                        otr-src="{{ build.snapshot[data.currentSnapshot].items[$index].id | ddragon: build.version:'item'}}">
                </li>
                <li class="item-slot"
                    ng-mouseover="$parent.hoverIn(build.snapshot[data.currentSnapshot].trinket);"
                    ng-mouseleave="$parent.hoverOut(build.snapshot[data.currentSnapshot].trinket);">
                    <img
                        tooltip-html-unsafe="{{build.snapshot[data.currentSnapshot].trinket.name}}"
                        tooltip-trigger="mouseenter"
                        tooltip-placement="top"
                        tooltip-popup-delay = "600"
                        ng-hide="build.snapshot[data.currentSnapshot].trinket==null"
                        ng-model="build.snapshot[data.currentSnapshot].trinket"
                        ng-click="removeItem(7)"
                        title=""
                        alt="Trinket"
                        otr-src="{{ build.snapshot[data.currentSnapshot].trinket.id | ddragon: build.version:'item'}}">
                </li>
            </ul>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <input
                    type        = "text"
                    class       = "form-control input-sm"
                    ng-model    = 'build.snapshot[data.currentSnapshot].name'
                    placeholder = "Item set name"
                    >
                </div>
            </div>
        </div>
    </div>
    -->
</div>
