<h2 class="medium-centered-title">Avaliable Points : <span class="avaliable-numbers">{{build.masteries_aux.avaliable_points}}
<a href="#" data-ng-show="buildMode != 'viewBuild'">
    <i class="fa fa-eraser fa-lg eraser-masterie" ng-click="$parent.resetMasteries()"></i></a></span></h2>
<div class="mastery-wrapper">
    <div class="mastery-column">
        <h3 class="mastery-title mastery-red" >Offense <span class="avaliable-numbers">{{build.masteries_aux.points.offense}}</span></h3>
        <ul class="mastery-container"> <!-- mastery-border-red-->
            <li class="mastery-item"
                ng-repeat="masterie in data.masteries | orderBy:'id' | filter: {masteryTree: 'Offense'}"
                ng-switch="masterie.enabled || false"
                ng-mouseover="$parent.$parent.hoverIn(masterie,$event);"
                ng-mouseleave="$parent.$parent.hoverOut($event)">
                <span ng-switch-when="true"
                        >
                    <img
                        tooltip-html-unsafe="{{masterie | masterieDescription}}"
                        tooltip-trigger="mouseenter"
                        tooltip-placement="top"
                        tooltip-popup-delay = "600"
                        ng-right-click="removeRank($event,masterie)"
                        ng-class="{'mastery-disabled': $index > build.masteries_aux.enabled.offense-1 || build.masteries_aux.avaliable_points == 30 || !checkDependecy(masterie) }"
                        title=""
                        alt="masterie"
                        ng-click="addRank($event,masterie)"
                        otr-src="{{ masterie.id | ddragon: masterie.version:'mastery'}}">
                    <label >{{masterie.points}}/{{masterie.ranks}}</label>
                </span>
            </li>
        </ul>
    </div>
    <div class="mastery-column">
        <h3 class="mastery-title mastery-blue" >Defense <span class="avaliable-numbers">{{build.masteries_aux.points.defense}}</span></h3>
        <ul class="mastery-container"> <!-- mastery-border-blue-->
            <li class="mastery-item"
                ng-repeat="masterie in data.masteries | orderBy:'id'  | filter: {masteryTree: 'Defense'}"
                ng-switch="masterie.enabled || false"
                ng-mouseover="$parent.$parent.hoverIn(masterie,$event);"
                ng-mouseleave="$parent.$parent.hoverOut($event)">
                <span ng-switch-when="true">
                    <img
                        tooltip-html-unsafe="{{masterie | masterieDescription}}"
                        tooltip-trigger="mouseenter"
                        tooltip-placement="top"
                        tooltip-popup-delay = "600"
                        ng-right-click="removeRank($event,masterie)"
                        ng-class="{'mastery-disabled': $index > build.masteries_aux.enabled.defense-1 || build.masteries_aux.avaliable_points == 30 || !checkDependecy(masterie)}"
                        title=""
                        alt="masterie"
                        ng-click="addRank($event,masterie)"
                        otr-src="{{ masterie.id | ddragon: masterie.version:'mastery'}}">
                    <label>{{masterie.points}}/{{masterie.ranks}}</label>
                </span>
            </li>
        </ul>
    </div>
    <div class="mastery-column">
        <h3 class="mastery-title mastery-green">Utility <span class="avaliable-numbers">{{build.masteries_aux.points.utility}}</span></h3>
        <ul class="mastery-container"> <!-- mastery-border-green-->
            <li class="mastery-item"
                ng-repeat="masterie in data.masteries | orderBy:'id'  | filter: {masteryTree: 'Utility'}"
                ng-switch="masterie.enabled || false"
                ng-mouseover="$parent.$parent.hoverIn(masterie,$event);"
                ng-mouseleave="$parent.$parent.hoverOut($event)">
                <span ng-switch-when="true">
                    <img
                        tooltip-html-unsafe="{{masterie | masterieDescription}}"
                        tooltip-trigger="mouseenter"
                        tooltip-placement="top"
                        tooltip-popup-delay = "600"
                        ng-right-click="removeRank($event,masterie)"
                        ng-class="{'mastery-disabled': $index > build.masteries_aux.enabled.utility-1 || build.masteries_aux.avaliable_points == 30 || !checkDependecy(masterie)}"
                        title=""
                        alt="masterie"
                        ng-click="addRank($event,masterie)"
                        otr-src="{{ masterie.id | ddragon: masterie.version:'mastery'}}">
                    <label>{{masterie.points}}/{{masterie.ranks}}</label>
                </span>
            </li>
        </ul>
    </div>
</div>