<div class="row">
	<div class="col-md-5 col-md-push-7">
		<div class="row">
			<div class="col-sm-12">
				<ul class="aligned-button-li">
					<li ng-repeat="(key, value) in runeTypes">
						<a class="btn btn-default"
						ng-click="setCurrentType(key)"
						ng-class="{'btn-rune-selected': key == currentType}">{{value}}</a>
					</li>
				</ul>
				<input
				type        = "text"
				id          = "focusedinput"
				class       = "build-input"
				ng-model    = "runeSearch.name"
				placeholder = "Rune Name">
				<ul class="item-listing">
	                <li ng-model="runeSearch" ng-repeat="rune in runesByType[currentType] | filterRunes:runeSearch" >
	                        <a
	                        tooltip-html-unsafe="{{rune.description}}"
	                        tooltip-trigger="mouseenter"
	                        tooltip-placement="left"
	                        tooltip-popup-delay = "600"
	                        href="#"
	                        ng-click="addRune(rune);$event.preventDefault(); $event.stopPropagation();">
	                        <div class="item-container">
	                            <img  title="" alt="avatar" otr-src="{{ rune.image.full | ddragon:rune.version:'rune'}}">
	                        </div>
	                        <div class="item-description">
	                            <span class="title">{{rune.name}}</span>
	                            <span class="description">{{rune.description}}</span>
	                        </div>
	                    </a>
	                </li>
	            </ul>
            </div>
		</div>
	</div>
	<div class="col-md-7 col-md-pull-5">
		<div class="runes-wrapper">
			<div class="runes-title-container">
				<div class="col-sm-3" ng-repeat="(key, value) in runeTypes">
					<div class="rune-col-title"><span>{{value.substring(0,5)}}<span></div>
				</div>
			</div>
			<div class="runes-builder-container">
				<div class="col-sm-3 rune-collumn" ng-repeat="(key, value) in runeTypes">
					<div class="rune-column-item" ng-repeat="rune in build.runes[key] | unique:rune.id">
						<img
							class="col-sm-12"
							ng-click="removeRune(key, rune.id)"
							title="" alt="Slot {{$index+1}}"
							ng-src="{{ rune.image | ddragon: build.version:'rune'}}"
							ng-mouseenter="$parent.$parent.$parent.hoverIn(rune);"
                            ng-mouseleave="$parent.$parent.$parent.hoverOut()"
						>
						<span>{{build.runes_aux.runeCount[rune.id]}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>