<div>
	<a href="#collapseRunes" data-parent="#accordionB" data-toggle="collapse" class="accordion-title"><h2>Runes</h2></a>
	<div class="collapse" id="collapseRunes">
		<div class="accordion-body">
			<div class="row">
				<div class="col-sm-12">
					<!-- Rune page layout -->
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-3" ng-repeat="(key, value) in runeTypes">
								<div class="row">
									<span class="col-sm-12">{{value}}</span>
									<ul class="mailbox-msg-list" style="height:350px;overflow-y:scroll;border:1px solid black;">
										<li ng-repeat="rune in build.runes[key] | unique:rune.id">
											<img class="col-sm-12" ng-click="removeRune(key, rune.id)" title="" alt="Slot {{$index+1}}" ng-src="{{ rune.image | ddragon: build.version:'rune'}}">
											{{runeCount[rune.id]}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Rune selection bar -->
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-header">
								<ul class="demo-btns">
									<li ng-repeat="(key, value) in runeTypes">
										<a class="btn btn-default" ng-click="setCurrentType(key)">{{value}}</a>
									</li>
								</ul>
								<form class="form-horizontal">
									<div class="form-group">
										<div class="col-sm-12">
											<input
											type        = "text"
											id          = "focusedinput"
											class       = "form-control input-sm"
											ng-model    = "runeSearch.name",
											placeholder = "Rune Name"
											>
										</div>
									</div>
								</form>
								<!--
								<div class="col-sm-6">
									<label>
									<input
									type		= "checkbox"
									id			= "runes-magic-filter"
									ng-checked	= "runeFilterEnabled('perLevel')"
									ng-click	= "toggleRuneTag('perLevel')"
									> PerLevel </label>
								</div> -->

							</div>
							<!-- <div class=" panel-scroll" style="height: 238px;"> -->
							<ul ng-model="currentType" class="panel-body mailbox-msg-list" style="max-height:276px;overflow-y:scroll;">
								<li ng-model="runeSearch" ng-repeat="rune in runesByType[currentType] | filterRunes:runeSearch" >
									<a
										tooltip-html-unsafe="TESTE"
										class="mailbox-msg-list-item"
										href="#"
										ng-click="addRune(rune);$event.preventDefault(); $event.stopPropagation();"
									>
										<!-- <span class="time">{{item.gold.base}} Gold</span> -->
										<img  title="" alt="avatar" ng-src="{{ rune.image.full | ddragon:rune.version:'rune'}}">
										<div><span class="name">{{rune.name}}</span><span class="msg">{{rune.plaintext}}</span></div>
									</a>
								</li>
							</ul>
							<!-- </div> --> <!-- panel-body -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
