<section data-ng-controller="BuildsController" class="select-champion-modal">
    <div class="modal-header">
        <h3 class="modal-title">
            <span>Choose Your Champion</span>
            <input
                type         = "text"
                id           = "focusedinput"
                class        = "form-control input-sm"
                ng-model     = "search.name"
                ng-minlength = "2">
            <span class="glyphicon glyphicon-remove pull-right" ng-click="closeModal()"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div data-ng-repeat="champion in data.champions | filter:search track by champion.id">
                    <div ng-if="$index + 1 % 6 == 0" class="clearfix"></div>
                    <div class="col-sm-2">
                        <img
                            ng-click="setSelectedChampion(champion);closeModal();"
                            class="champion-avatar"
                            alt="{{champion.name}}"
                            otr-src="{{ champion.image.full | ddragon: champion.version:'champion'}}"
                        >
                        <h3 style="text-align:center;">{{champion.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal();">Close</button>
    </div>
</section>