<section data-ng-controller="BuildsController" data-ng-init="findOne()">
    <div class="container-fluid builder-wrapper view-build fx-fade-down fx-speed-1000" ng-show="build != null">
        <!--Build Title-->
        <div class="row">
            <div class="col-sm-12 build-title-wrapper">
                <h1>
                    <span class="build-designation">{{build.name}}</span>
                    <span class="build-version">v{{build.version}}</span>
                    <div class="fb-buttons">
                        <div class='fb-parse' style="overflow: hidden">
                            <fb:like data-href="{{absUrl}}"
                                     data-layout="button_count"
                                     data-action="like"
                                     data-show-faces="false"
                                     data-share="true"
                                     data-width="300px">
                            </fb:like>
                        </div>
                    </div>
                    <div class="pull-right options-wrapper" data-ng-show="((authentication.user) && (authentication.user._id == build.user._id))">
                        <a class="view-btn" href="/#!/builds/{{build.name | encodeUricomponent}}/{{build._id}}/edit">
                            <span class="btn-editar build-edit"></span>
                        </a>
                        <a class="view-btn" data-ng-click="remove();">
                            <span class="btn-editar build-delete"></span>
                        </a>
                    </div>
                </h1>
                <small class="build-author-info">
                    <em class="text-muted">
                        Posted on
                        <span data-ng-bind="build.created | date:'mediumDate'"></span>
                        by
                        <span data-ng-bind="build.user.displayName"></span>
                    </em>
                </small>
            </div>
        </div>
        <div ng-include="'modules/builds/views/champion-stats.client.view.html'"></div>
        <div class="stats-configuration-wrapper fx-fade-down fx-speed-1000" ng-show="build.champion_id != null">
            <div class="container-fluid configuration-wrapper">
                <div class="row">
                    <div class="col-md-5">
                        <label class="build-title">ITEMS</label>
                        <ul class="snapshot-container">
                            <li
                                ng-repeat="snap in build.snapshot track by $index"
                                ng-click="setCurrentSnap($index)"
                                ng-class="{'selected-snap': data.currentSnapshot == $index}">
                                {{build.snapshot[$index].name}}
                            </li>
                            <li
                                class="filler-tab"
                                ng-repeat="n in range(1, 5 - build.snapshot.length)">
                            </li>
                        </ul>
                        <div class="build-config-panel item-config-panel">
                            <item-section build="build" data="data" children="children"></item-section>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label class="build-title">RUNES</label>
                        <div class="build-config-panel runes-config-panel">
                            <runes-section build="build" data="data" children="children"></runes-section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="build-title">MASTERIES</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="build-config-panel">
                            <masteries-section build="build" data="data"  children="children"></masteries-section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="build-title">COMMENTS</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="fb-comments build-config-panel">
                            <div class="fb-parse">
                                <fb:comments data-href="{{absUrl}}"
                                             data-numposts="5"
                                             data-colorscheme="light"
                                             data-width="100%">
                                </fb:comments>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
