<div class="page-heading">
    <div class="container clearfix">
        <h1 class="pull-left">About Us</h1>
    </div>
</div>
<div class="container">

    <div class="row mb40">
        <div class="col-md-6">
            <div class="headline"><h2>Company Info</h2></div>
            <h3>Altera fastidii voluptua sit cu</h3>
            <p>Mundi convenire ea sed, eam ei sale persius repudiare. In nibh eirmod comprehensam vix, his te imperdiet rationibus scriptorem. Has illud indoctum pericula no, te mel paulo graece nonumes, eu has debet propriae. Nec affert necessitatibus cu.</p>
            <ul class="fa-ul">
                <li><i class="fa fa-li fa-check"></i>Fugit viris reformidans</li>
                <li><i class="fa fa-li fa-check"></i>Fugit viris reformidans</li>
                <li><i class="fa fa-li fa-check"></i>Fugit viris reformidans</li>
                <li><i class="fa fa-li fa-check"></i>Fugit viris reformidans</li>
                <li><i class="fa fa-li fa-check"></i>Fugit viris reformidans</li>
                <li><i class="fa fa-li fa-check"></i>Fugit viris reformidans</li>
            </ul>
            <p>Mundi convenire ea sed, eam ei sale persius repudiare. In nibh eirmod comprehensam vix, his te imperdiet rationibus scriptorem. Has illud indoctum pericula no, te mel paulo graece nonumes, eu has debet propriae. Nec affert necessitatibus cu.</p>
        </div>
        <div class="col-md-6">
            <div class="headline"><h2>Photos</h2></div>
            <imgotr-src"assets/demo/stockphoto/communication_04.jpg" class="img-responsive img-rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="headline"><h2>Meet The Team</h2></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="content-box box-padded text-center">
                        <imgotr-src"assets/demo/avatar/avatar_02.png" class="mb20 img-circle img-responsive">
                        <h3>
                            Alexander Smith
                            <br>
                            <small>Project Manager</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box box-padded text-center">
                        <imgotr-src"assets/demo/avatar/avatar_04.png" class="mb20 img-circle img-responsive">
                        <h3>
                            Stacy Villani
                            <br>
                            <small>Project Manager</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box box-padded text-center">
                        <imgotr-src"assets/demo/avatar/avatar_06.png" class="mb20 img-circle img-responsive">
                        <h3>
                            Bruce Ory
                            <br>
                            <small>Project Manager</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box box-padded text-center">
                        <imgotr-src"assets/demo/avatar/avatar_09.png" class="mb20 img-circle img-responsive">
                        <h3>
                            Ricky Marengo
                            <br>
                            <small>Project Manager</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>