<div class="container-fluid" data-ng-controller="ContactUsController" ng-init="initAboutUs()">
    <div class="row">
        <div class="col-sm-4 col-sm-push-4 about-us-square">
            <div class="vertical-aligned">
                <div class="show-normal">
                    <div class="urf urf-medium"></div>
                </div>
                <p class="author-title">OfftheRift</p>
                <div class="show-hover">
                    <br>
                    <p>OfftheRift is a small web app developed with the ideia of creating something helpfull to the League of Legends Community.</p>
                    <p>We count on your feedback to help us shape and make the app grow! Come and join us at our social network pages or contact us via feedback@offtherift.com ! :)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-pull-4 about-us-square about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Ana</li>
                    <li class="author-title author-lastname">Andrade</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Graphics Designer</p>
                </div>
                <div class="show-hover">
                    <p>Ana is one of the two persons responsible for shapping up the visuals of our application.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Sónia</li>
                    <li class="author-title author-lastname">Pestana</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Graphics Designer</p>
                </div>
                <div class="show-hover">
                    <p>Sónia is one of the two persons responsible for shapping up the visuals of our application.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Juan</li>
                    <li class="author-title author-lastname">Macedo</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Software Engineer</p>
                </div>
                <div class="show-hover">
                    <p>Juan is part of the coding team!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Rúben</li>
                    <li class="author-title author-lastname">Freitas</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Software Engineer</p>
                </div>
                <div class="show-hover">
                    <p>Rúben is part of the coding team!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Paulo</li>
                    <li class="author-title author-lastname">Caldeira</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Software Engineer</p>
                </div>
                <div class="show-hover">
                    <p>Paulo is part of the coding team!</p>
                </div>
            </div>
        </div>
    </div>
</div>