<div class="container-fluid" data-ng-controller="ContactUsController" ng-init="initAboutUs()">
    <div class="row">
        <div class="col-sm-4 col-sm-push-4 about-us-square">
            <div class="vertical-aligned">
                <div class="show-normal">
                    <div class="urf urf-medium"></div>
                </div>
                <p class="author-title">OfftheRift</p>
                <div class="show-hover">
                    <br>
                    <p>OfftheRift is a small web app developed with the ideia of creating something helpfull to the League Community.</p>
                    <p>
                        We are a very small team from Madeira Island who worked on the app in our free time.
                    </p>
                    <p>If you want to help us grow please disable adBlock on our page. You can also support us via paypal through our email *******@offtherift.com</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-pull-4 about-us-square about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Ana</li>
                    <li class="author-title author-lastname">Andrade</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Graphics Designer</p>
                </div>
                <div class="show-hover">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis venenatis ante, eget ultrices lacus fermentum et.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla ac arcu vel varius.
                        Nunc molestie velit massa. Aliquam id dictum turpis, non congue ex.
                    </p>
                </div>
                <div class="contact-wrapper">
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-facebook fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-behance fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Sónia</li>
                    <li class="author-title author-lastname">Pestana</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Graphics Designer</p>
                </div>
                <div class="show-hover">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis venenatis ante, eget ultrices lacus fermentum et.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla ac arcu vel varius.
                        Nunc molestie velit massa. Aliquam id dictum turpis, non congue ex.
                    </p>
                </div>
                <div class="contact-wrapper">
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-facebook fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-behance fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Juan</li>
                    <li class="author-title author-lastname">Macedo</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Software Engineer</p>
                </div>
                <div class="show-hover">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis venenatis ante, eget ultrices lacus fermentum et.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla ac arcu vel varius.
                        Nunc molestie velit massa. Aliquam id dictum turpis, non congue ex.
                    </p>
                </div>
                <div class="contact-wrapper">
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-facebook fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-linkedin fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Rúben</li>
                    <li class="author-title author-lastname">Freitas</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Software Engineer</p>
                </div>
                <div class="show-hover">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis venenatis ante, eget ultrices lacus fermentum et.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla ac arcu vel varius.
                        Nunc molestie velit massa. Aliquam id dictum turpis, non congue ex.
                    </p>
                </div>
                <div class="contact-wrapper">
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-facebook fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-linkedin fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 about-us-square">
            <div class="vertical-aligned">
                <ul>
                    <li class="author-title author-firstname">Paulo</li>
                    <li class="author-title author-lastname">Caldeira</li>
                </ul>
                <div class="ocuppation-wrapper show-normal">
                    <hr class="small-separator">
                    <p class="author-occupation">Software Engineer</p>
                </div>
                <div class="show-hover">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis venenatis ante, eget ultrices lacus fermentum et.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla ac arcu vel varius.
                        Nunc molestie velit massa. Aliquam id dictum turpis, non congue ex.
                    </p>
                </div>
                <div class="contact-wrapper">
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-facebook fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                    <div class="contact">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-linkedin fa-stack-1x icon-social"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>