<section ng-controller="ContactUsController">
    <div class="page-heading">
        <div class="container clearfix">
            <h1 class="pull-left">Contact Us</h1>
        </div>
    </div>
    <div class="container">

        <div class="row mt40">
            <div class="col-md-8">
                <div class="headline"><h2>Contact Us</h2></div>
                <form action="#" role="form">
                    <div class="form-group">
                        <label for="contacts-name">Name</label>
                        <input type="text" class="form-control" id="contacts-name">
                    </div>
                    <div class="form-group">
                        <label for="contacts-email">Email</label>
                        <input type="email" class="form-control" id="contacts-email">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" style="min-height: 100px;"></textarea>
                    </div>
                    <a type="submit" class="btn btn-success">Send</a>
                    <a type="button" class="btn btn-default">Cancel</a>
                </form>
            </div>
            <div class="col-md-4">
                <div class="headline"><h2>Address</h2></div>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
        </div>

    </div>
</section>