<section data-ng-controller="HomeController">
	<div class="frontend-block bright-bg pt50 pb50">
		<div class="container">
			<div class="promo-box">
				<h1 class="mb10"><span translate>LANDING_SLOGAN</span></h1>
				<div class="text-center mt15">
					<a href="/#!/build" class="btn btn-lg btn-midnightblue mt5" translate>LANDING_BUILD</a>
					<!-- <a href="/#!/registration" class="btn btn-lg btn-success mt5" translate>LANDING_REGISTER</a> -->
				</div>
			</div>
		</div>
	</div>
	<div id="features" class="landing-block white-bg">
    <div class="container">
        <div class="text-center">
            <h1 class="mb40" translate>HEADER_MISSION<br>
            <!--<small>With our advanced features, you'll fall in love</small></h1>-->
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-cogs fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Real Time Builder</h3>
                    <p>
                    Come and check out first service to you. A champion Builder that shows you how your stats are affected by your champion's level, masteries runes and items!
                    </p>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-centered">
                    <i class="fa fa-refresh fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Up to date</h3>
                    <p>Our services will be updated as Riot launches new patches.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-group fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Grow with us</h3>
                    <p>We made this for the community. We will use your feedback to improve our app and shape it to the community needs.</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-exchange fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Free</h3>
                    <p>We use RIOT's API to make this platform run. Our content will always be free.</p>
                </div>

            </div>
        </div>
    </div>
	<div class="frontend-block gray-bg pb40">
		<div class="container blog">
			<div class="row mb40">
				<div class="text-center col-md-12">
					<div class="heading uppercase heading-stripe">
						<h2 class="mt0" translate>LANDING_GALERY</h2>
						<p class="mb0" translate>LANDING_GALERY_DESCRIPTION</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="portfolio fourcols">

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<img src="assets/demo/stockphoto/music_11.jpg" class="img-responsive">
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Scripta</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<img src="assets/demo/stockphoto/portfolio_07.jpg" class="img-responsive">
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Accusata</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<img src="assets/demo/stockphoto/portfolio_02.jpg" class="img-responsive">
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Expetenda</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<img src="assets/demo/stockphoto/portfolio_03.jpg" class="img-responsive">
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Maiestatis</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
