<section data-ng-controller="HomeController">
	<div class="frontend-block bright-bg pt50 pb50">
		<div class="container">
			<div class="promo-box">
				<h1 class="mb10"><span translate>PASSED_AS_TEXT</span> Incredibly Clean &amp; Responsive!</h1>
				<p>Check out all the theme options and features</p>
				<div class="text-center mt15">
					<a href="#" ng-click="changeLanguage('en')" class="btn btn-lg btn-midnightblue mt5">Live Demo</a>
					<a href="#" ng-click="changeLanguage('pt')" class="btn btn-lg btn-success mt5">Buy</a>
				</div>
			</div>
		</div>
	</div>
	<div class="frontend-block pb40">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="content-box box-centered">
						<i class="fa fa-code fa-2x icon-focused icon-primary icon-circle mb20"></i>
						<h2>Clean Code</h2>
						<p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="content-box box-centered">
						<i class="fa fa-check fa-2x icon-focused icon-primary icon-circle mb20"></i>
						<h2>More Features</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi no quisquam beatae culpa ipsam assumenda.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="content-box box-centered">
						<i class="fa fa-tablet fa-2x icon-focused icon-primary icon-circle mb20"></i>
						<h2>Responsive</h2>
						<p>Dictas fabellas has at sed ad hinc nostrud scaevola consequat definitiones vel eu. Et stet veri oratio duo tritani dissentiunt ut mei te errem tritani  molestie repudiandae pro.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="content-box box-centered">
						<i class="fa fa-support fa-2x icon-focused icon-primary icon-circle mb20"></i>
						<h2>Great Support</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi no quisquam beatae culpa ipsam assumenda.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="frontend-block gray-bg pb40">
		<div class="container blog">
			<div class="row mb40">
				<div class="text-center col-md-12">
					<div class="heading uppercase heading-stripe">
						<h2 class="mt0">Our Work</h2>
						<p class="mb0">Some examples from <a href="blog-portfolio.html">portfolio</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="portfolio fourcols">

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<!-- <img src="assets/demo/stockphoto/music_11.jpg" class="img-responsive"> -->
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Scripta</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<!-- <img src="assets/demo/stockphoto/portfolio_07.jpg" class="img-responsive"> -->
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Accusata</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<!-- <img src="assets/demo/stockphoto/portfolio_02.jpg" class="img-responsive"> -->
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Expetenda</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 item-wrapper">
						<div class="item">
							<!-- <img src="assets/demo/stockphoto/portfolio_03.jpg" class="img-responsive"> -->
							<span class="caption-wrapper">
								<span class="caption">
									<h3>Maiestatis</h3>
									<p>Ipsam obcaecati possimus</p>
									<div class="buttons">
										<a href="#" class="btn btn-default-alt"><i class="fa fa-link"></i></a>
										<a href="#" class="btn btn-default-alt open-modal"><i class="fa fa-search-plus"></i></a>
									</div>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="frontend-block brighter-bg">
		<div class="container">
			<div class="row mb40">
				<div class="text-center col-md-12">
					<div class="heading uppercase heading-stripe">
						<h2 class="mt0">Testimonials</h2>
						<p class="mb0">See what others are saying</p>
					</div>
				</div>
			</div>
			<div class="row">

				<carousel interval="5000" id="quote-carousel">
					<slide>
						<div class="col-sm-8 col-sm-offset-2 col-xs-12">
							<blockquote class="testimonial">
								<img src="/modules/users/img/nophoto.png" class="avatar img-circle">
								<div class="comment text-center">
					                <p>Definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide. Voluptatem natus quasi no quisquam beatae culpa ipsam assumenda.</p>
				                	<small>Shannon Schmucker</small>
				                </div>
			            	</blockquote>
						</div>
					</slide>
					<slide>
						<div class="col-sm-8 col-sm-offset-2 col-xs-12">
							<blockquote class="testimonial">
								<img src="/modules/users/img/nophoto.png" class="avatar img-circle">
								<div class="comment text-center">
					                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				                	<small>Rodney Moody</small>
				                </div>
			            	</blockquote>
						</div>
					</slide>
					<slide>
						<div class="col-sm-8 col-sm-offset-2 col-xs-12">
							<blockquote class="testimonial">
								<img src="/modules/users/img/nophoto.png" class="avatar img-circle">
								<div class="comment text-center">
					                <p>Definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide. Voluptatem natus quasi no quisquam beatae culpa ipsam assumenda.</p>
				                	<small>Rodney Moody</small>
				                </div>
			            	</blockquote>
						</div>
					</slide>
				</carousel>

			</div>
		</div>
	</div>
	<div class="frontend-block bright-bg pt50 pb50">
		<div class="container">
			<div class="promo-box">
				<h1 class="mb10">Incredibly Clean &amp; Responsive!</h1>
				<p>Check out all the theme options and features</p>
				<div class="text-center mt15">
					<a href="#" class="btn btn-lg btn-midnightblue mt5">Live Demo</a>
					<a href="#" class="btn btn-lg btn-success mt5">Buy</a>
				</div>
			</div>
		</div>
	</div>
</section>
