<div id="header-unit" class="image-bg">
    <div class="mask">
        <div class="vertical-align">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group input-group-lg mt20">
                            <input type="text" class="form-control input-lg" id="errsearch" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-lg" type="button">Get Early Access!</button>
                            </span>
                        </div>
                        <h2>OR</h2>
                        <div class="text-center mt20">
                            <a href="/#!/login" class="btn btn-primary btn-lg">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="landing-block white-bg">
    <div class="container">
        <div class="text-center">
            <h1 class="mb40">Simple web and mobile landing page for startup<br><small>Simple and responsive user interface</small></h1>

            <img src="/modules/core/img/bg/macbook-pro.png" alt="" class="img-responsive featured-image">

        </div>
    </div>
</div>
<div id="features" class="landing-block white-bg">
    <div class="container">
        <div class="text-center">
            <h1 class="mb40">Some great features of our startup<br><small>With our advanced features, you'll fall in love</small></h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-bar-chart-o fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Advanced Analytics</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-search fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Spy Competitors</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-cloud fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Work With Mac</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">

                <div class="content-box box-centered">
                    <i class="fa fa-support fa-2x mb10 icon-focused icon-circle icon-default"></i>
                    <h3>Dedicated Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas omnis iure pariatur suscipit ex maxime. Voluptatem natus quasi quisquam beatae culpa voluptatum sunt ipsam assumenda.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="testimonials" class="landing-block">
    <div class="text-center">
        <h1 class="mb40">What our customers say<br><small>Don't take our word, see our testimonials</small></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <blockquote class="testimonial">
                    <img src="assets/demo/avatar/avatar_02.png" class="avatar img-circle">
                    <div class="comment">
                        <p>There is only one thing in the world worse than being talked about, and that is not being talked about</p>
                        <small>Oscar Wilde</small>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote class="testimonial">
                    <img src="assets/demo/avatar/avatar_14.png" class="avatar img-circle">
                    <div class="comment">
                        <p>You don't have to burn books to destroy a culture. Just get people to stop reading them.</p>
                        <small>Ray Bradbury</small>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div id="faqtable" class="landing-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>How does the free trial works?</h3>
                <p class="mb40">Ut eum tempor virtute, abhorreant dissentias eos cu, ei qui wisi graeco. Per ut iudico deleniti oporteat, sed ne diceret debitis, an invidunt petentium nec. Mel at deserunt reprehendunt, eos ut recusabo prodesset. Animal pertinacia dissentiunt cum te, insolens sapientem efficiendi mei an.</p>
            </div>
            <div class="col-md-6">
                <h3>Do I need to choose a plan now?</h3>
                <p class="mb40">Cu prompta expetenda ius. Sea eu nibh meis assueverit, id eum stet epicurei. Et aliquip consequuntur duo, vim congue aperiri et. Eam cu detraxit patrioque. Usu no natum impedit invenire, insolens contentiones intellegebat te eos, te eos docendi patrioque.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Can I switch plans later?</h3>
                <p class="mb40">Noster euripidis definiebas mei ne, ne elit nominati delicatissimi cum. Exerci corpora salutatus cum ut. Vis novum oportere tincidunt ea, detracto inimicus indoctum an vix, sea mundi regione conceptam ei. Ne qui dicam incorrupte.</p>
            </div>
            <div class="col-md-6">
                <h3>What payment types do you accept?</h3>
                <p class="mb40">Est graeco virtute albucius ut, est iusto numquam id. Omnesque inimicus duo et. Omnis mundi ponderum ius in. Nemore possim contentiones sea ne. Usu nemore interesset ad, alia mucius expetenda vis an, ad sit modo homero delectus.</p>
            </div>
        </div>
    </div>
</div>