<div id="header-unit" class="teaser-wrapper image-bg" data-ng-controller="TeaserController" ng-init="initTeaser()">
    <div class="container-fluid">
        <div class="row">
            <div class="fb-buttons pull-right">
                <div class="fb-buttons top10 right20">
                    <div class='fb-parse' style="overflow: hidden">
                        <fb:like data-href="https://www.facebook.com/offtheriftapp"
                                 data-layout="button_count"
                                 data-action="like"
                                 data-show-faces="false"
                                 data-share="true"
                                 data-width="300px">
                        </fb:like>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top30 bottom20">
            <p class="teaser-title text-center heavy">WELCOME</p>
            <p class="text-center teaser-sub-title light">SUMMONER</p>
        </div>
        <div class="row intro-container">
            <div class="col-sm-12 col-md-push-2 col-md-8">
                <p>Meet <a class="link-twitter" href="https://twitter.com/OfftheRift_app" target="_blank">#OfftheRift</a> web app.</p>
                <p>Here you can set up and share League of Legends champion builds and check how champion statistics change through time as Riot releases new patches.</p>
            </div>
        </div>
        <div class="row teaser-row">
            <div class="col-md-4 col-sm-12 text-center">
                <h1 class="statistic-container top0">Build</h1>
                <a ui-sref="createBuild">
                    <i class="fa fa-cogs teaser-icon top10"></i>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h1 class="statistic-container top0">Browse</h1>
                <a ui-sref="listBuilds">
                    <i class="fa fa-list teaser-icon top10"></i>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h1 class="statistic-container top0">Login</h1>
                <a ui-sref="login">
                    <i class="fa fa-sign-in teaser-icon top10"></i>
                </a>
            </div>
        </div>
        <div class="row teaser-row dark-row">
            <div class="col-md-4 col-sm-12 text-center">
                <span class="heavy statistic-number" count-to="{{buildsCountTo}}" value="{{buildsCountFrom}}" duration="1"></span>
                <h1 class="statistic-container top0">
                    Total Builds
                </h1>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <span class="heavy statistic-number" count-to="{{usersCountTo}}" value="{{usersCountFrom}}" duration="1"></span>
                <h1 class="statistic-container top0">
                    Registered Users
                </h1>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <span class="heavy statistic-number" count-to="{{unsetCountTo}}" value="{{unsetCountFrom}}" duration="1"></span>
                <h1 class="statistic-container top0">
                    Waiting Invitation
                </h1>
            </div>
        </div>
        <div class="dashboard-container intro-container">
            <div class="bottom20">
                <p>Below you can check the most famous builds on the app right now.</p>
            </div>
            <div class="row row-no-padding">
                <div class="col-lg-2 col-xs-3 build-portrait-right">
                    <div class="build-wrapper">
                        <div class="grey-portrait"></div>
                        <div class="build-info ">
                            <div class="vertical-align label-wrapper">
                                <div class="limiter"></div>
                                <div class="build-label-container">
                                    <label class="build-title-label build-title-label-big">FAMOUS</label>
                                    <label class="build-sub-title-label">BUILDS</label>
                                </div>
                                <div class="limiter"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-right">
                    <slick
                        arrows="false"
                        autoplay="true"
                        speed="700"
                        init-onload=true
                        data="popularBuilds"
                        responsive= "[
                            {
                              breakpoint: 30000,
                              settings: {
                                slidesToShow: 5,
                                slidesToScroll: 1,
                                infinite: true,
                                dots: false
                              }
                            },
                            {
                              breakpoint: 1200,
                              settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                infinite: true,
                                dots: false
                              }
                            }]">
                        <div
                            ng-repeat="build in popularBuilds"
                            class="col-lg-2 col-xs-3">
                            <div class="build-wrapper build-link">
                                <a href="/#!/builds/{{build.name | encodeUricomponent}}/{{build._id}}">
                                    <img
                                        class = "build-portrait img-responsive"
                                        ng-src="{{build.champion.name | ddUnversioned}}"
                                    >
                                    <div class="build-info">
                                        <label class="build-title">{{build.name}}</label>
                                        <label class="build-author">by {{build.displayName}}</label>
                                        <ul class="build-stats">
                                            <li><span class="light">Shares: </span><span class="heavy">{{build.facebook.share_count}}</span></li>
                                            <li><span class="light">Comments: </span><span class="heavy">{{build.facebook.comment_count}}</span></li>
                                            <li><span class="light">Likes: </span><span class="heavy">{{build.facebook.like_count}}</span></li>
                                            <li><span class="light">Views: </span><span class="heavy">{{build.view_count}}</span></li>
                                        </ul>
                                        <label class="build-version">{{build.version}}</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col-lg-2 col-xs-3 build-portrait-left">
                    <div class="build-wrapper">
                        <div class="grey-portrait"></div>
                        <div class="build-info ">
                            <div class="vertical-align label-wrapper">
                                <div class="limiter"></div>
                                <div class="build-label-container">
                                    <label class="build-title-label build-title-label-big">TOP</label>
                                    <label class="build-sub-title-label">LIKED</label>
                                </div>
                                <div class="limiter"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-left">
                    <slick
                        arrows="false"
                        autoplay="true"
                        speed="700"
                        init-onload=true
                        data="popularBuilds"
                        responsive= "[
                            {
                              breakpoint: 30000,
                              settings: {
                                slidesToShow: 5,
                                slidesToScroll: 1,
                                infinite: true,
                                dots: false
                              }
                            },
                            {
                              breakpoint: 1200,
                              settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                infinite: true,
                                dots: false
                              }
                            }]">
                        <div
                            ng-repeat="build in mostLiked"
                            class="col-lg-2 col-xs-3">
                            <div class="build-wrapper build-link">
                                <a href="/#!/builds/{{build.name | encodeUricomponent}}/{{build._id}}">
                                    <img
                                        class = "build-portrait img-responsive"
                                        ng-src="{{build.champion.name | ddUnversioned}}"
                                    >
                                    <div class="build-info">
                                        <label class="build-title">{{build.name}}</label>
                                        <label class="build-author">by {{build.displayName}}</label>
                                        <ul class="build-stats">
                                            <li><span class="light">Shares: </span><span class="heavy">{{build.facebook.share_count}}</span></li>
                                            <li><span class="light">Comments: </span><span class="heavy">{{build.facebook.comment_count}}</span></li>
                                            <li><span class="light">Likes: </span><span class="heavy">{{build.facebook.like_count}}</span></li>
                                            <li><span class="light">Views: </span><span class="heavy">{{build.view_count}}</span></li>
                                        </ul>
                                        <label class="build-version">{{build.version}}</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
        </div>
        <div class="row step-join dark-row teaser-row">
            <div class="col-xs-12">
                <h1 class="big-text text-center">Join us</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="light">Enter your facebook email and you'll receive an invitation to join the OfftheRift project.</h3>
                </div>
            </div>
            <div class="row top17 bottom50">
                <div class="col-xs-4 col-xs-offset-3">
                    <input class="form-control input-lg" ng-model="teaserEmail">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-register btn-block btn-lg" ng-click="subscribe()">Register</button>
                </div>
            </div>
            <div class="row top10">
                <div class="col-sm-12 text-center">
                    <strong data-ng-bind="showMessage" class="light"></strong>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-center light">Offtherift isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
            </div>
        </div>
    </div>
</div>