<section data-ng-controller="ItemDetailsController">
	<div class="panel panel-gray">
		<div class="panel-body mailbox-panel">
			<header>
				<h3 class="pull-left mt0 mb0">{{item.name}} </h3>
			</header>			
			<section class="tabular">
				<div class="message tabular-row">
					<div class="tabular-cell avatar">
						<img src="{{item.image.full | ddItemFilter}}" alt="avatar" class="">
					</div>
					<div class="tabular-cell msg">
						<p><strong>{{item.plaintext}}</strong></p>
						<p>{{item.sanitizedDescription}} </p>
					</div>
					<div class="tabular-cell time">
						<small>{{item.gold.total}}  Gold</small>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>